*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul.display-app{
    background-color: aqua;
    width:550px;
    height: 700px;
    padding: 100px 5px;
    list-style-type: none;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 40px;
    margin:140px auto;
    box-shadow: 0px 0px 3px 3px rgb(78, 80, 78);
}
ul.column{
    margin: auto;
    width:85%;
    display: flex;
    justify-content:space-around;
    list-style-type: none;
    margin: 20px 0px;
}
div.button{
    width: 20px;
    

}
div.button>button{
    width: 100px;
    height: 40px;
    font-size: 22px;


}